{
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 4,
  "printWidth": 80,
  "useTabs": false,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "bracketSpacing": false,
  "proseWrap": "always"
}
