nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 50px 40px;
  font-size: 16px;
  position: fixed;
  top: 0;
  width: 100vw;
  color: #000;
  z-index: 100;
}

.menu-container {
  position: fixed;
  top: 0;
  left: -120vw;
  height: 100vh;
  /* background-color: #f2f3ee; */
  background-color: gray;
  z-index: 101;
  transition: left 0.4sn ease;
  padding-right: 120px;
}

.menu-container.show {
  left: 0;
}

.menu-container .close-icon {
  position: absolute;
  font-size: 25px;
  top: 50px;
  left: 40px;
  color: #000;
}

.menu-container .menu-wrapper {
  margin-top: 100px;
  margin-left: 40px;
}

.menu-container .menu-wrapper .menu-title {
  font-size: 15px;
}
